{% extends 'layout.html' %}

{% block body %}
  {% if session['username'] == 'shtw' %}
    <h2>您好，{{ session.name }}用户!</h2>
    <ul class="list-group">
      {% for article in articles %}
        {% if article.owner == 'shtw' %}
	      <h3><li class="list-group-item"><a href="article/{{article.id}}">{{article.title}}</a></li></h3>
        {% endif %}
      {% endfor %}
      <h3><li class="list-group-item"><a href="/public">公共技术文档</a></li></h3>
    </ul>
  {% else %}
  <center><h2><a class="btn btn-danger" href="/login">上海自来水用户登录</a></h2></center>
  {% endif %}
{% endblock %}
