./.venv/
myblog/*.pyc
myblog/.venv/
myblog/instance/
myblog/*.dat
wxtest/*.pyc
wxtest/.venv/
wxtest/instance/
wxtest/secret.py
log/*.pyc
log/.venv/
log/instance/
mainpage/*.pyc
mainpage/.venv/
mainpage/instance/
rssh/*.pyc
rssh/.venv/
.git/
