[Unit]
Description=myblog sevice 
After=network.target

[Service]
User=yebin
Group=root
WorkingDirectory=/home/yebin/pyprojects/myblog
Environment="PATH=/home/yebin/pyprojects/myblog/.venv/bin"
ExecStart=/home/yebin/pyprojects/myblog/.venv/bin/python /home/yebin/pyprojects/myblog/app.py > /dev/null 2>&1 &

[Install]
WantedBy=multi-user.target
