{% extends 'layout.html'%}

{% block body %}
<div>
    <!--<h1>当前已登录用户数</h1>-->
    <!--<h2>当前有 <span id="connected">{{ connected }}</span> 名用户登录在线。</h2>-->

    <h3>用户终端在线状态</h3>
    <p><small>[在线状态]实时更新，绿色表示当前在线小站，数字表示设备温度。</small></p>
    <table border="1" class="table table-striped table-bordered table-condensed">
        <thead>
	    <tr>
            <th class="text-center">用户名称</th>
	        <th style="display:none;" class="text-center">终端名称</th>
	        <!--<th class="text-center" >终端名称</th>-->
	        <th class="text-center">通信卫星</th>
	        <th class="text-center">终端类型</th>
	        <th class="text-center">远程管理</th>
	        <th class="text-center">在线状态</th>
	    </tr>
        </thead>
        {% for t in range(ccount) %}
            <tr>
                <td align="center" valign="middle"><a href="#" title="{{ips[t]}}">{{names[t]}}</a></td>
                <td align="center" valign="middle" style="display:none;">{{clients[t]}}</td>
                <!--<td align="center" valign="middle">{{clients[t]}}</td>-->
                <td align="center" valign="middle">{{satellites[t]}}</td>
                <td align="center" valign="middle">{{modems[t]}}</td>
                <td align="center" valign="middle" id="logon">&nbsp;</td>
                <td align="center" valign="middle" id="temp">&nbsp;</td>
            </tr>
        {% endfor %}
    </table>
    <h3>本页在线总数：<span id="online-count"></span> 台</h3>
    <h3>本页终端总数：<span>{{ccount}}</span> 台</h3>
    <h3>全部在线总数：<span id="total-online-count"></span> 台</h3>
    <h3>全部终端总数：<span>{{total_num}}</span> 台</h3>
    <script type="text/javascript">
        $(document).ready(function() {
            var url = "http://" + document.domain + ":" + location.port;
            //var socket = io.connect('http://' + document.domain + ':' + location.port);
            var socket = io.connect(url);
            //socket.on('msg', function(msg) {
            //    $("#connected").html(msg.count);
            //});
            document.getElementsByTagName("table")[0].rows[0].cells[0].style.backgroundColor = "#dddddd";
            document.getElementsByTagName("table")[0].rows[0].cells[1].style.backgroundColor = "#dddddd";
            document.getElementsByTagName("table")[0].rows[0].cells[2].style.backgroundColor = "#dddddd";
            document.getElementsByTagName("table")[0].rows[0].cells[3].style.backgroundColor = "#dddddd";
            document.getElementsByTagName("table")[0].rows[0].cells[4].style.backgroundColor = "#dddddd";
            document.getElementsByTagName("table")[0].rows[0].cells[5].style.backgroundColor = "#dddddd";
            //var onlineCount = 0
            //document.getElementById("online-count").innerHTML = 0;
            socket.emit('status');
            socket.on('online', function(msg) {
                /*
                for (var i = 0; i < {{ ccount }}; i++) {
                    document.getElementsByTagName("table")[0].rows[i+1].cells[0].style.backgroundColor = "#ffffff";
                    document.getElementsByTagName("table")[0].rows[i+1].cells[1].style.backgroundColor = "#ffffff";
                    document.getElementsByTagName("table")[0].rows[i+1].cells[2].style.backgroundColor = "#ffffff";
                    document.getElementsByTagName("table")[0].rows[i+1].cells[3].style.backgroundColor = "#ffffff";
                    if (msg.nclient == document.getElementsByTagName("table")[0].rows[i+1].cells[0].innerHTML && msg.flag == 1) {
                        //onlineCount++; 
                        //document.getElementsByTagName("table")[0].rows[i+1].cells[2].innerText = "ONLINE";
                        document.getElementsByTagName("table")[0].rows[i+1].cells[4].style.backgroundColor = "lightgreen";
                        //document.getElementById("online-count").innerHTML = onlineCount;
                	} else {
                        //document.getElementsByTagName("table")[0].rows[i+1].cells[2].innerText = "OFFLINE";
                        document.getElementsByTagName("table")[0].rows[i+1].cells[4].style.backgroundColor = "#ffffff";
                        //document.getElementById("online-count").innerHTML = onlineCount;
                        }
                }
                */
                document.getElementById("online-count").innerHTML = msg.nclientlen;
                //document.getElementById("temp").innerHTML = msg.tempdisplay;
                if (msg.nclientlen == 0) {
                    for (var k = 0; k < {{ ccount }}; k++) {
                        document.getElementsByTagName("table")[0].rows[k+1].cells[0].style.backgroundColor = "#ffffff";
                        document.getElementsByTagName("table")[0].rows[k+1].cells[1].style.backgroundColor = "#ffffff";
                        document.getElementsByTagName("table")[0].rows[k+1].cells[2].style.backgroundColor = "#ffffff";
                        document.getElementsByTagName("table")[0].rows[k+1].cells[3].style.backgroundColor = "#ffffff";
                        document.getElementsByTagName("table")[0].rows[k+1].cells[4].style.backgroundColor = "#ffffff";
                        document.getElementsByTagName("table")[0].rows[k+1].cells[5].style.backgroundColor = "#ffffff";
                    }

                } else {
                        var flag = -1;
						for (var i = 0; i < {{ ccount }}; i++) {
							x = document.getElementsByTagName("table")[0].rows[i+1].cells[1].innerHTML; 
							document.getElementsByTagName("table")[0].rows[i+1].cells[0].style.backgroundColor = "#ffffff";
							document.getElementsByTagName("table")[0].rows[i+1].cells[1].style.backgroundColor = "#ffffff";
							document.getElementsByTagName("table")[0].rows[i+1].cells[2].style.backgroundColor = "#ffffff";
							document.getElementsByTagName("table")[0].rows[i+1].cells[3].style.backgroundColor = "#ffffff";
							document.getElementsByTagName("table")[0].rows[i+1].cells[4].style.backgroundColor = "#ffffff";
                            for (var j = 0; j < msg.nclientlen; j++) {                          
                                if (msg.nclient[j] == x) {
                                    document.getElementsByTagName("table")[0].rows[i+1].cells[5].style.backgroundColor = "lightgreen";
                                    document.getElementsByTagName("table")[0].rows[i+1].cells[4].innerHTML = '<a href="http://rssh.satelc.com" target="_blank">登录</a>';
                                    flag = i;
                                    if (x == msg.pname) {
                                        document.getElementsByTagName("table")[0].rows[i+1].cells[5].innerHTML = msg.tempdisplay;
                                        } 
                                        //else {
                                            //document.getElementsByTagName("table")[0].rows[i+1].cells[5].innerHTML = 'NULL';
                                          //  }
                                } else if (msg.nclient[j] != x && flag != i){
                                    document.getElementsByTagName("table")[0].rows[i+1].cells[5].style.backgroundColor = "#ffffff";
                                    document.getElementsByTagName("table")[0].rows[i+1].cells[4].innerHTML = '';
                                    document.getElementsByTagName("table")[0].rows[i+1].cells[5].innerHTML = '';
                                    }
                            }
						}
					}
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            var url = "http://" + document.domain + ":" + location.port;
            var socket = io.connect(url);
            socket.emit('newstatus');
            socket.on('totalonline', function(newmsg) {
                document.getElementById("total-online-count").innerHTML = newmsg.newallclientlen;
            });
        });
    </script>
    
</div>

    <center>
    <p>
      {% if page < 2 %}  
      <div class="center hide">
        <a href="{{url_for('clientstatus',page=page-1)}}" class="btn btn-default">上一页</a>
      </div>
      {% else %}
      <div class="center">
        <a href="{{url_for('clientstatus',page=page-1)}}" class="btn btn-default">上一页</a>
      </div>
      {% endif %}
      <div class="center" style="visibility: hidden;">
        <a href="#" class="btn btn-default"></a>
      </div>
      {% if page > pages-1 %}
      <div class="center hide">
        <a href="{{url_for('clientstatus',page=page+1)}}" class="btn btn-default">下一页</a>
      </div>
      {% else %}
      <div class="center">
        <a href="{{url_for('clientstatus',page=page+1)}}" class="btn btn-default">下一页</a>
      </div>
      {% endif %}
    </p>
    </center>
{% endblock %}

