{% extends 'layout.html' %}

{% block body %}
  {% if session['username'] == 'admin' %}
  <table class="table table-striped">
    <tr>
      <th class="text-center">编号</th>
      <th class="text-center">姓名</th>
      <th class="text-center">用户名</th>
      <th class="text-center">电子邮箱</th>
      <th class="text-center">注册日期</th>
      <th></th>
      <th></th>
    </tr>
    {% for user in users %}
      <tr>
        <td align="center" valign="middle">{{user.id}}</td>
        <td align="center" valign="middle">{{user.name}}</td>
        <td align="center" valign="middle">{{user.username}}</td>
        <td align="center" valign="middle">{{user.email}}</td>
        <td align="center" valign="middle">{{user.register_date}}</td>
        {% if session['username'] == 'admin' %}
        <td><a href="edit_user/{{user.id}}" class="btn btn-default pull-right">编辑</a></td>
        <td>
          <form action="{{url_for('delete_user', id=user.id)}}" method="post">
            <input type="hidden" name="method" value="DELETE">
            <input type="submit" name="" value="删除" class="btn btn-danger" onclick="return confirm('是否确认删除该用户？');return false;">
          </form>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
  {% endif %}
{% endblock %}
