{% extends 'layout.html' %}

{% block body %}
  {% if session['username'] == log.author %}
  <h3>{{ log.title }}</h3>
  发布者：{{log.author}}
  <br>
  发布日期：{{log.create_date}}
  <hr>
  <div class="text-justify">
    {{log.body | safe}}
  </div>
  {% endif %}
  <p>
  <div class="container">
    <a href="{{url_for('edit_log',id=log.id)}}" class="btn btn-default">编辑</a>
  </div>
  </p>
    <div id="container">
    <!-- It's just a blank. -->    
    </div>
    <p>
    <div class="container">
        <a href="/user_logs" class="btn btn-default pull-left">返回</a>
        <form id="del" action="{{url_for('delete_log', id=log.id)}}" method="post">
          <input type="hidden" name="method" value="DELETE">
          <input type="submit" name="submit" value="删除" class="btn btn-danger pull-right" onclick="return confirm('是否确认删除该日志？');return false;">
        </form>
    </div>
    </p>
    <div id="container">
    <!-- It's just a blank. -->    
    </div>
    <center>
    <p>
      {% if user_log_id_list.index(log.id) < 1 %}  
      <div class="center hide">
        <a href="{{url_for('log',id=user_log_id_list[user_log_id_list.index(log.id)-1])}}" class="btn btn-default">上一页</a>
      </div>
      {% else %}
      <div class="center">
        <a href="{{url_for('log',id=user_log_id_list[user_log_id_list.index(log.id)-1])}}" class="btn btn-default">上一页</a>
      </div>
      {% endif %}
      <div class="center" style="visibility: hidden;">
        <a href="#" class="btn btn-default"></a>
      </div>
      {% if user_log_id_list.index(log.id) > list_len-2 %}
      <div class="center hide">
        <a href="{{url_for('log',id=user_log_id_list[user_log_id_list.index(log.id)+1])}}" class="btn btn-default">下一页</a>
      </div>
      {% else %}
      <div class="center">
        <a href="{{url_for('log',id=user_log_id_list[user_log_id_list.index(log.id)+1])}}" class="btn btn-default">下一页</a>
      </div>
      {% endif %}
    </p>
    </center>
{% endblock%}
