<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">卫星通信微信公众号自助平台</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
    {% if session.logged_in %}
      {% if session['username'] == 'admin' %}
      <ul class="nav navbar-nav navbar-right">
            <li><a href="/articles">文档列表</a></li>
            <li><a href="/dashboard_articles">文档管理</a></li>
            <li><a href="/register">用户注册</a></li>
            <li><a href="/dashboard_users">用户管理</a></li>
            <li><a href="/search_keyword">搜索</a></li>
            <li><a href="/logout">注销</a></li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/search_keyword">搜索</a></li>
        <li><a href="/logout">注销</a></li>
      </ul>
      {% endif %}
    {% else %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">登录</a></li>
      </ul>
    {% endif %}
    </div>
  </div>
</nav>
