{% extends 'layout.html' %}

{% block body %}
  <h1>卫星小站列表</h1>
  <p><a class="btn btn-danger" href="/login">以管理员身份编辑小站</a></p>
  <ul class="list-group">
    {% for terminal in terminals %}
      <li class="list-group-item"><a href="{{url_for('terminal',id=terminal.id)}}">{{terminal.name}}</a></li>
    {% endfor %}
  </ul>

    <center>
    <p>
      {% if page < 2 %}  
      <div class="center hide">
        <a href="{{url_for('terminals',page=page-1)}}" class="btn btn-default">上一页</a>
      </div>
      {% else %}
      <div class="center">
        <a href="{{url_for('terminals',page=page-1)}}" class="btn btn-default">上一页</a>
      </div>
      {% endif %}
      <div class="center" style="visibility: hidden;">
        <a href="#" class="btn btn-default"></a>
      </div>
      {% if page > pages-1 %}
      <div class="center hide">
        <a href="{{url_for('terminals',page=page+1)}}" class="btn btn-default">下一页</a>
      </div>
      {% else %}
      <div class="center">
        <a href="{{url_for('terminals',page=page+1)}}" class="btn btn-default">下一页</a>
      </div>
      {% endif %}
    </p>
    </center>
{% endblock %}
