<html>
  <head>
    <title>Oracle database Connectivity - Demo Preview</title>
	<meta name="robots" content="noindex, nofollow">
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script> 
	<!-- include css file here-->
    <link rel="stylesheet" href="css/drop_down.css"/>
  </head>
  <body>
  <div class="page">
   <h2>!!! Welcome to Oracle database Connectivity !!!</h2>
   <button class="back">Back</button>
  </div>
  </body>
</html>
