<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div id="navbar-header">
      <ul class="nav navbar-nav navbar-left">
        {% if session.logged_in %}
          {% if session['username'] == 'admin' %}
            <li><a href="/logs">日志列表</a></li>
            <li><a href="/dashboard_logs">日志管理</a></li>
            <li><a href="/register">用户注册</a></li>
            <li><a href="/dashboard_users">用户管理</a></li>
          {% endif %}
        <li><a href="/add_log">新建</a></li>
        <li><a href="/logout">注销</a></li>
        {% endif %}
    </div>
  </div>
</nav>
