{% extends 'base.html' %}

{% block body %}
    <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function(){
            socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
            socket.on('connect', function() {
                socket.emit('joined', {});
            });
            /*
            socket.on('status', function(data) {
                $('#chat').val($('#chat').val() + '<' + data.name + '>\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            */
            socket.on('status', function(data) {
                $('div.message_holder').append('<div class="msg_bbl"><b style="color: #000">'+data.name+'</div>');
            });
            /*
            socket.on('message', function(data) {
                $('#chat').val($('#chat').val() + data.msg + '\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            */
            socket.on('message', function(data){
                $('h4').remove();
                $('div.message_holder').append('<div class="msg_bbl"><b style="color: #000">'+data.name+'：'+data.msg+'</div>');
            });
            /*
            $('#text').keypress(function(e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    text = $('#text').val();
                    $('#text').val('');
                    socket.emit('text', {msg: text});
                }
            });
            */
            $('form#send').submit(function(e){
                e.preventDefault();
                let user_input = $('input.message').val();
                socket.emit('text', {msg: user_input});
                $('input.message').val('').focus();
            });
            /*
            $('#broadcast_text').keypress(function(e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    broadcast_text = $('#broadcast_text').val();
                    $('#broadcast_text').val('');
                    socket.emit('broadcast_text', {msg: broadcast_text});
                }
            });
            */
            $('form#broadcast').submit(function(e){
                e.preventDefault();
                let user_input = $('input.broadcast_message').val();
                socket.emit('broadcast_text', {msg: user_input});
                $('input.broadcast_message').val('').focus();
            });
            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
               start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 1000);
            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });
        });
        function leave_room() {
            socket.emit('left', {}, function() {
                socket.disconnect();

                // go back to the login page
                window.location.href = "{{ url_for('chat_blueprint.chat_index') }}";
            });
        }
    </script>
    <h3>用户讨论组: {{ room }}</h3>
    <p>延时：<b><span id="ping-pong"></span>ms</b></p>
    <div class="no_message">
        <div class="message_holder"></div>
        <h4 style='color: #ccc'>暂无消息 ...</h4>
    </div>
    {% if room == '公共组' %}
    <form id="broadcast" action="" method="POST">
        <div style="width: 200px">
            <input type="text" class="broadcast_message form-control" id="broadcast_text" placeholder="输入消息内容">
        </div>
        <div style="width: 80px; margin-left: 200px; margin-top: -34px">
            <button type="submit" class="btn btn-success"><span class="glyphicon"></span>发送</button>
        </div>
    </form>
    {% else %}
    <form id="send" action="" method="POST">
        <div style="width: 200px">
            <input type="text" class="message form-control" id="text" placeholder="输入消息内容">
        </div>
        <div style="width: 80px; margin-left: 200px; margin-top: -34px">
            <button type="submit" class="btn btn-success"><span class="glyphicon"></span>发送</button>
        </div>
    </form>
    {% endif %}
    <div style="padding-top: 5px;"></div>
    <a class="btn btn-primary" href="#" onclick="leave_room();">离开</a>
{% endblock %}
