[Unit]
Description=Store Client's Temperature From MQTT Paho Subscribe Sevice 
After=network.target

[Service]
User=yebin
Group=yebin
WorkingDirectory=/home/yebin/pyprojects/myblog/status
Environment="PATH=/home/yebin/pyprojects/.venv/bin"
ExecStart=/home/yebin/pyprojects/.venv/bin/python store_pahosub_temperature.py
Restart=always

[Install]
WantedBy=multi-user.target
