<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>用户讨论区</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script type="text/javascript" src="https://cdn.bootcss.com/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
        <style>
          div.msg_bbl {
            background-color: #ddd;
            padding: 5px 10px;
            border-radius: 10px;
            color: #555;
            margin-bottom: 5px;
          }
        </style>
    </head>
    <body>
        {% include 'includes/_navbar.html' %}
        <div class="container">
            {% include 'includes/_messages.html' %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
