{% extends 'layout.html' %}

{% block body %}
  <h1>添加小站</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.name, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.client, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.address, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.modem, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.ip, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.satellite, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.found_date, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.remarks, class_="form-control") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="添加"></p>
  </form>
{% endblock %}
